.new-person {
    background-color: #2a2a2a;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-person button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #1bb7a7;
    background-color: #1bb7a7;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    border-color: white;
  }
  
  .new-person button:hover,
  .new-person button:active {
    background-color: #9aa7a6;
    border-color: white;
  }
  
  .new-person button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-person button.alternative:hover,
  .new-person button.alternative:active {
    background-color: #ddb3f8;
  }